/*  */
.view_center_vertical {
  display: "flex";
  align-items: "center";
}

/* Hover chuc nang */
.btn_moune {
  cursor: pointer;
}
td {
  vertical-align: middle;
}

tr th {
  text-align: center;
}
/* con lăn */
.over_flow_auto { 
  overflow: auto;
}


/* color */
.color_green{
  background-color: #1c6612;
}
.color_green2{
  background-color: #13500a;
}


.color_red{
  background-color: #910000;
}
